<script>
    require('../../../renderer.js');
</script>

<div id="newCategory" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Category
                    <img  class="loading m-t-5" style="margin-left: 35%" height="50px" src="assets/images/loading.gif" alt="">
                </h4>
            </div>
            <div class="modal-body">
                <form id="saveCategory">
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input id="category_id" type="hidden" name="id">
                        <input id="categoryName" type="text" required="required"  name="name" placeholder="Enter a category name" class="form-control" >
                    </div>
                  
                    <input type="submit" id="submitCategory" class="btn btn-primary btn-block waves-effect waves-light">
                </form>
            </div>
       </div>
  </div>
</div>