<script>
    require('../../../renderer.js');
</script>

<div id="newProduct" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Product
                    <img  class="loading m-t-5" style="margin-left: 35%" height="50px" src="assets/images/loading.gif" alt="">
                </h4>
            </div>
            <div class="modal-body">
                <form id="saveProduct" encType="multipart/form-data">
                    <input type="hidden" name="id" id="product_id">
                    <input type="hidden" name="img" id="img">
                    <input type="hidden" name="remove" id="remove_img">
                    <div class="form-group">
                        <label for="userName">Category</label>
                        <select name="category" class="form-control" id="category"></select>
                    </div>
                    <div class="form-group">
                        <label for="userName">Product Name</label>
                        <input type="text" required="required"  name="name" parsley-trigger="change" placeholder="Enter a product name" class="form-control" id="productName">
                    </div>
                    <div class="form-group">
                        <label for="userName">Price</label>
                        <input type="text" required="required" name="price" placeholder="Price" class="form-control" id="product_price">
                    </div>
                    <div class="form-group">
                        <label for="userName">Stock</label>
                        <input type="text" name="quantity" placeholder="Available stock" class="form-control" id="quantity">
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" name="stock" id="stock" style="max-width: 30px; float: left;">  Disable stock check </label>
                    </div>
                    <div class="form-group">
                        <label for="userName"><span id="rmv_img" class="btn btn-xs btn-warning">Remove</span> Picture </label>                      
                        <div id="current_img"></div>
                        <input type="file" name="imagename" id="imagename">                            
                    </div>

                    <input type="submit" id="submitProduct" class="btn btn-primary btn-block waves-effect waves-light">
                </form>
            </div>
        </div>
    </div>
</div>