
<div id="orderModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="btn btn-sm btn-default" onclick="printDiv('orderModal');">Print</button> <br> <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hide()">×</button>
              </div>
            <div class="modal-body" id="viewTransaction">                 
            </div>

            <div class="alert alert-danger" style="font-size:11px;">Right-Click and Reload if you get stuck after cancelling a print.</div>
        </div>
    </div>
</div>

<script>
    require('../../../renderer.js');
</script>

<script> window.$ = window.jQuery = require('jquery'); </script>

<script>
    function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     
     window.print();
     
     document.body.innerHTML = originalContents;
     //document.getElementById("#orderModal").dataDismiss = "modal";
     //document.getElementById("#orderModal").ariaHidden = "true";
     //$("#orderModal").hide();
     window.location.reload();
     //$(".modal").ariaHidden = "true";
     
}
</script>
